{% extends 'user/subbase.html' %}

{% block title %} - パスワード変更{% endblock %}

{% block main %}
  <form
    method="post" 
    class="w-full max-w-sm min-h-96 p-6 border border-gray-300 rounded-md
      flex flex-col justify-between items-center gap-2
    "
  >
    <h2 class="text-gray-700">パスワード変更</h2>

    <div class="w-full flex flex-col items-center gap-2">
      <div class="w-full">
        <p class="px-1 text-sm text-gray-700">現在のパスワード</p>

        <input type="password" name="password"
          class="
            w-full h-9 px-4 border border-gray-300 rounded-md bg-white
            focus:ring-2 focus:ring-gray-300 outline-none text-gray-700
          "
          required
        >
      </div>

      <div class="w-full">
        <p class="px-1 text-sm text-gray-700">新しいパスワード</p>

        <input type="password" name="new_password"
          class="
            w-full h-9 px-4 border border-gray-300 rounded-md bg-white
            focus:ring-2 focus:ring-gray-300 outline-none text-gray-700
          "
          required
        >
      </div>
    </div>

    <p>
      <input
        type="submit"
        class="
          w-28 h-9 rounded-full bg-teal-500 hover:bg-white
          border border-teal-500 text-white hover:text-teal-500 text-center cursor-pointer
        "
        value="変更"
      >

      <input type="hidden" name="token" value="{{ session['token'] }}">
    </p>
  </form>
{% endblock %}