{% extends 'base.html' %}

{% block header %}
  <header class="p-2 sm:px-4 rounded flex flex-wrap justify-between items-center gap-2 bg-gray-50">
    <a href="{{ url_for('admin.index') }}">
      <h1 class="h-9 text-xl text-gray-900 flex items-center justify-center">読書記録アプリ</h1>
    </a>

    <div class="flex flex-wrap items-center gap-2">
      {% if 'admin' in session %}
        <a href="{{ url_for('admin.settings') }}">
          <p class="
            w-20 h-9 rounded-full bg-white hover:bg-teal-500 border border-teal-500 
            text-sm text-teal-500 hover:text-white flex items-center justify-center">
            設定
          </p>
        </a>

        <a href="{{ url_for('admin.logout') }}">
          <p class="
            w-20 h-9 rounded-full bg-white hover:bg-teal-500 border border-teal-500 
            text-sm text-teal-500 hover:text-white flex items-center justify-center">
            ログアウト
          </p>
        </a>
      {% endif %}
    </div>
  </header>
{% endblock %}

{% block footer %}
  <footer class="px-4 py-2 rounded flex justify-between flex-wrap gap-2 bg-gray-50">
    <p class="text-sm text-gray-500">ReadingApp</p>
    <a href="{{ url_for('bookshelf.index') }}">
      <p class="text-sm text-gray-500">ユーザーページへ</p>
    </a>
  </footer>
{% endblock %}