{% extends 'base.html' %}

{% block header %}
<header class="min-h-16 px-4 py-2 rounded flex flex-wrap justify-between items-center gap-2 bg-gray-50">
  <h1 class="text-xl text-gray-900">
    <a href="{{ url_for('admin.index') }}">読書記録アプリ</a>
  </h1>

    <div class="flex flex-wrap items-center gap-2">
      {% if g.admin %}
        <a href="{{ url_for('admin.settings') }}">
          <p class="
            w-20 h-11 rounded-full bg-white hover:bg-teal-500 border border-teal-500 
            text-sm text-teal-500 hover:text-white flex items-center justify-center">
            設定
          </p>
        </a>

        <a href="{{ url_for('admin.logout') }}">
          <p class="
            w-20 h-11 rounded-full bg-white hover:bg-teal-500 border border-teal-500 
            text-sm text-teal-500 hover:text-white flex items-center justify-center">
            ログアウト
          </p>
        </a>
      {% endif %}
    </div>
  </header>
{% endblock %}

{% block footer %}
  <footer class="px-4 py-2 rounded flex justify-between flex-wrap gap-2 bg-gray-50">
    <p class="text-sm text-gray-500">ReadingApp</p>
    <p class="text-sm text-gray-500"><a href="{{ url_for('bookshelf.index') }}">ユーザーページへ</a></p>
  </footer>
{% endblock %}