{% extends 'user/subbase.html' %}

{% block title %} - 新規登録{% endblock %}

{% block main %}
  <form
    method="post" 
    class="w-full max-w-sm min-h-96 p-6 border border-gray-300 rounded-md
      flex flex-col justify-between items-center gap-2
    "
  >
    <h2 class="text-gray-700">新規登録</h2>

    <div class="w-full flex flex-col items-center gap-2">
      <div class="w-full max-w-64">
        <p class="px-1 text-sm text-gray-700">ユーザー名</p>

        <input type="text" name="username"
          class="
            w-full max-w-64 px-4 border border-gray-300 rounded-md bg-white
            focus:ring-2 focus:ring-gray-300 outline-none text-gray-700
          "
          required
        >
      </div>

      <div class="w-full max-w-64">
        <p class="px-1 text-sm text-gray-700">メールアドレス（任意）</p>

        <input type="email" name="email"
          class="
            w-full max-w-64 px-4 border border-gray-300 rounded-md bg-white
            focus:ring-2 focus:ring-gray-300 outline-none text-gray-700
          "
        >
      </div>

      <div class="w-full max-w-64">
        <p class="px-1 text-sm text-gray-700">パスワード</p>

        <input type="password" name="password"
          class="
            w-full max-w-64 px-4 border border-gray-300 rounded-md bg-white
            focus:ring-2 focus:ring-gray-300 outline-none text-gray-700
          "
          required
        >
      </div>
    </div>

    <p>
      <input
        type="submit"
        class="
          w-28 h-7 rounded-full bg-teal-500 hover:bg-white
          border border-teal-500 text-sm text-white hover:text-teal-500 text-center cursor-pointer
        "
        value="登録"
      >
    </p>
  </form>
{% endblock %}